@model ExpenseCategoryModel

<h2>Создание новой категории</h2>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="CategoryName">Название категории</label>
        <input asp-for="CategoryName" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Создать</button>
</form>

<a asp-action="Index" class="btn btn-secondary">Вернуться к списку категорий</a>
