@model List<ExpenseCategoryModel>

<h2>Список категорий затрат</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Название категории</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.ID</td>
                <td>@category.CategoryName</td>
                <td>
                    <a href="@Url.Action("Delete", new { id = category.ID })">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Создать новую</a>
<a asp-action="Index" asp-controller="Expense" class="btn btn-secondary">Перейти к расходам</a>